/*---HEADER----*/

header {
    display: flex;
    width: 100%;
    height: 22vh;
    position: fixed;
    background: rgb(167, 213, 202);
    padding: 1rem;
    top: 0;
    h1 {
        color: hsl(240, 65%, 33%);
        font-size: 50px;
        font-style: italic;
        font-weight: 200;
        justify-content: center;}
    .header__logo{
        display: flex;
        width:36%;
        top:10%;
        left:0%;
        align-items: center;
        box-sizing: border-box;
        }
    nav{
        ul{
            list-style: none;
            display: flex; 
            width: 64%; 
            position: absolute;
            justify-content:space-around;
            background-color: rgba(0, 0, 0, 0.517);
            top: 0%;
                li{
                    a{
                        color:hsl(0, 0%, 96%); 
                        font-size: large;
                        transition-duration: 1s;
                        &:hover{
                        background-color: rgb(167, 213, 202);
                        color:black;
                        }
                    }
                }
            }
        }
    }