
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.fixed {
    position: fixed;
    right: 3%;
    bottom: 5%;
}